<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="https://pbs.twimg.com/profile_images/1037560349967433730/sb0KhZEs_400x400.jpg"> 
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
    Hobby gua berenang dan mendaki, gua suka makan dendeng, warna favorit hijau.   
    <br>
    Riwayat Sekolah Saya :
    <ul> 
        <li>SDN Cipinang Muara 05 pagi</li>
        <li>SMPN 115 Jakarta</li>
        <li>SMAN 71 Jakarta</li>
    </ul> 
    <p></p>
</body>
</html>
